/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling on the body, let overlay handle it if needed */
}