/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 500vh;
  margin: 0;
  padding: 0;
  /* Prevent scrolling on the body, let overlay handle it if needed */
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}